.row
  %input(ng-model='newEvent.headline' placeholder='Заголовок' type='text')
.row
  %div(ckeditor='options' ng-model='newEvent.description')
.row
  %datepicker(date-format='d-MM-y' button-prev="<i class='fa fa-arrow-circle-left'></i>" button-next="<i class='fa fa-arrow-circle-right'></i>")
    %input(type='text' placeholder='Виберіть дату' ng-model='date')
.row
  %input(ui-timepicker='timeOptions' ng-model='newEvent.time' type='text' placeholder='Виберіть час')
.row
  .col-md-2.col-xs-12.title Теги:
  .col-md-10.col-xs-12
    %tags-input{'ng-model' => 'newEvent.tags', 'display-property' => 'name'}
      %auto-complete{'source' => 'loadTags($query)'}

.row
  .col-md-2.col-xs-12.title Збераємось:
  .col-md-10.col-xs-12
    #map-canvas
