.row
  %input(type='text' placeholder='Заголовок' ng-model='newEvent.headline')
.row
  %div(ckeditor='options' ng-model='newEvent.description')
.row
  %tags-input(type='text' placeholder='Добавить тег' ng-model='newEvent.tags')
    %auto-complete(source='loadTags($query)')
.row
  #new-event-map(style='height: 500px;')
.row
  %quick-datepicker(placeholder='Натисніть щоб встановити дату' ng-model='newEvent.date')
