.row
  .col-md-1.creator
    .row
      %img{src: "{{event.creator.avatar_url}}"}
    .row.name
      {{event.creator.name}}
    .row.pull-bottom.pull-right{'ng-show' => 'myEvents'}
      .btn.btn-default.btn-xs{'ng-file-select' => 'upload($files, event)'}
        %span.glyphicon.glyphicon-paperclip
  .col-md-8.event
    .row.headline
      %a{href: "#/events/{{event.id}}"}
        {{event.headline}}
    .row{'ng-bind-html' => 'descriptionHtml(event)' }
    .row.small.italic
      Коли: {{event.date}} {{event.time}}
    .row.small.italic{'ng-show' => 'event.address'}
      Де:
      %span.link{'ng-click' => 'showAddressOnMap(event)'}
        {{event.address}}
    .row.small.italic{'ng-show' => 'event.tags.length'}
      Теги:
      %span{'ng-repeat' => 'tag in event.tags'}
        %a{'href' => '/#/events?tag={{tag.name}}'}
          {{tag.name}}
        &nbsp;
  .col-md-3
    .row.btn-group-xs.pull-right-lg
      %button.btn.btn-default{'ng-click' => 'up(event)', :type => 'button'}
        %span.glyphicon.glyphicon-thumbs-up
        .rating.green
          {{event.likes}}
      %button.btn.btn-default{'ng-click' => 'down(event)', :type => 'button'}
        %span.glyphicon.glyphicon-thumbs-down
        .rating.red
          {{event.dislikes}}
      &nbsp;
      %a.btn.btn-default{'href' => "#/events/{{event.id}}"}
        %span.glyphicon.glyphicon-comment
        {{event.comments_count}}
      %button.btn.btn-default{'ng-click' => 'delete(event.id, $index)', :type => 'button', 'ng-show' => 'isMine()'}
        %span.glyphicon.glyphicon-trash
      %button.btn.btn-default{'ng-click' => 'edit(event.id)', :type => 'button', 'ng-show' => 'isMine()'}
        %span.glyphicon.glyphicon-edit
    .clear
    .row.subscribers
      %ul
        %li.pull-right-lg.pull-left-sm{'ng-repeat' => 'subscription in event.subscriptions'}
          %img{src: "{{subscription.user.avatar_url}}", title: '{{subscription.user.name}}'}
    .row.pull-right-lg{'ng-show' => 'userSignedIn()'}
      %button.btn.btn-primary.btn-sm{'ng-click' => 'subscribe(event)', 'ng-show' => '!subscribed(event)'}
        %span.glyphicon.glyphicon-ok
        Розраховуйте і на мене!
      %button.btn.btn-danger.btn-sm{'ng-click' => 'unsubscribe(event)', 'ng-show' => 'subscribed(event)'}
        %span.glyphicon.glyphicon-remove
        У мене не виходе :(
.row
  .col-md-1
  .col-md-8.popup-gallery
    %a{'ng-repeat' => 'photo in event.photos', 'href' => '{{photo.origin}}'}
      <img src='{{photo.thumb}}' />

