.row
  %input(ng-model='newEvent.headline' placeholder='Заголовок' type='text')
.row
  %div(ckeditor='options' ng-model='newEvent.description')
.row
  %tags-input(ng-model='newEvent.tags')
    %auto-complete(source='loadTags($query)')
.row
  %quick-datepicker(ng-model='newEvent.date' placeholder='Натисніть щоб встановити дату')
