#events-filters.slide-down-panel
  За місцем:
  .row
    %span.link.option.active{'ng-click' => 'nearMe($event)'}
      Поблизу біля Мене (
    = image_tag 'ajax-loader.gif', class: 'ajax-loader'
    {{currentLocation}}
    )

    &nbsp;
    &nbsp;
    %b.small
      Або
    &nbsp;
    &nbsp;
    %span.link.option{'ng-click' => 'showMap($event)'}
      Вибрати на карті
    &nbsp;
    %div.btn.btn-default.btn-xs{'ng-click' => 'applyFilter()'}
      %span.glyphicon.glyphicon-filter
      Го

  .row
    Радіус:
    %input.slider{'data-slider-value' => 2, 'data-slider-min' => 0, 'data-slider-max' => 10}
    %span.small
      (км)

  .row.map-container{'style' => 'display: none;'}
    .col-md-12.col-xs-12
      #map-canvas

  <br/>
  Теги:
  .row
    %span{'ng-repeat' => 'tag in tags'}
      %span.link{'ng-click' => 'filterByTag(tag.name)'}
        %i
          {{tag.name}}
      &nbsp;

