.row
  .col-md-12.new-event-link
    %h5.pull-left
      %span.link{'onclick' => "showPanel('#events-filters')"} Фільтри
      |
      %span.link{'onclick' => "showPanel('#events-map')"} Карта подій
    %h3.pull-right-lg
      %a{href: '/#/events/new'} Запропонувати

.row
  .col-md-9
    %div{role: 'tabpanel'}
      %ul.nav.nav-tabs{role: 'tablist'}
        %li.active
          %a{href: '#pending-events-list', showtab: '', 'ng-click' => "show('pending')"}
            Активні
        %li
          %a{href: '#in-progress-events-list', showtab: '', 'ng-click' => "show('in_progress')"}
            Проходять прямо зараз
        %li
          %a{href: '#completed-events-list', showtab: '', 'ng-click' => "show('completed')"}
            Завершені
    .tab-content
      .tab-pane.active{role: 'tabpanel', id: 'pending-events-list'}
        %ng-include(src="'#{asset_path('angular/events/_events_list.html')}'")


  .col-md-3
    .jumbotron.timelineevents
      .center
        Найсвіжіші події
      %ng-include(src="'#{asset_path('angular/events/widget.html')}'" ng-controller='LatestEventsCtrl')
    .jumbotron.timelineevents
      .center
        Найбільш обговорювані події
      %ng-include(src="'#{asset_path('angular/events/widget.html')}'" ng-controller='MostActiveEventsCtrl')
    .jumbotron.timelineevents
      .center
        Найбільш популярні події
      %ng-include(src="'#{asset_path('angular/events/widget.html')}'" ng-controller='MostPopularEventsCtrl')
