.new-event-link{'ng-click' => "openModal('#{ asset_path('events/new.html') }')", 'ng-show' => 'userSignedIn()'}
  %h3 Запропонувати
%ul.events
  %li.jumbotron{'ng-repeat' => 'event in events'}
    %ng-include(src="'#{asset_path('angular/events/_event.html')}'")
    .clear
