.row
  .col-md-12.new-event-link{'ng-show' => 'userSignedIn()'}
    %h5.pull-left
      %span.link{'onclick' => "showPanel('#events-filters')"} Фільтри
      |
      %span.link{'onclick' => "showPanel('#events-map')"} Карта подій
    %h3.pull-right-lg
      %a{href: '/#/events/new'} Запропонувати
%ul.events
  %li.jumbotron{'ng-repeat' => 'event in events'}
    %ng-include(src="'#{asset_path('angular/events/_event.html')}'")
