.row
  .item.center.pull-right-lg{'ng-click' => 'loginWithFacebook()', 'ng-show' => 'navBar.showSignInButton'}
    .btn.btn-primary.btn-block
      .fa.fa-facebook-square.fa-larger
      Ввійти через Facebook
  .item.center.pull-right-lg{'ng-show' => '!navBar.showSignInButton'}
    %a{'href' => '/#/events/subscriptions'}
      Мої підписки
    |
    %a{'href' => '/#/events/mine'}
      Мої пропозиції
    |
    {{navBar.userName}}
    %img{src: "{{navBar.avatarUrl}}"}
    %a{'href' => '', 'ng-click' => 'logOut()'}
      Вийти
