.row
  .pull-right-lg{ 'ng-show' => 'navBar.showSignInButton' }
    %a{'href' => 'javascript:void(false);', 'ng-click' => 'loginWithFacebook()', 'ng-show' => 'navBar.showSignInButton', 'class'=>'btn btn-social-icon btn-facebook' }
      %i{ 'class'=>'fa fa-facebook' }
    %a{'href' => 'javascript:void(false);', 'ng-click' => 'loginWithVkontakte()', 'ng-show' => 'navBar.showSignInButton', 'class'=>'btn btn-social-icon btn-vk' }
      %i{ 'class'=>'fa fa-vk' }
    %a{'href' => 'javascript:void(false);', 'ng-click' => 'loginWithOk()', 'ng-show' => 'navBar.showSignInButton', 'class'=>'btn btn-social-icon btn-odnoklassniki' }
      %i{ 'class'=>'fa fa-odnoklassniki' }
      %input{ 'type'=>'hidden', 'ng-model'=>'okAuthToken', 'id'=>'auth_token'}
  .item.center.pull-right-lg{'ng-show' => '!navBar.showSignInButton'}
    %a{'href' => '/#/events/subscriptions'}
      Мої підписки
    |
    %a{'href' => '/#/events/mine'}
      Мої пропозиції
    |
    {{navBar.userName}}
    %img{'ng-src' => '{{navBar.avatarUrl}}'}
    %a{'href' => '', 'ng-click' => 'logOut()'}
      Вийти
