.row
  .two.columns.author-avatar
    %img.comment-avatar(src="{{comment.user.avatar_url}}")
  .three.columns.author-name
    {{comment.user.name}}
  .six.columns.date
    {{comment.created}}
  .one.column.action-links(ng-show='userSignedIn()')
    = link_to '', 'ng-click' => '', title: 'Відповісти' do
      = fa_icon 'comment'
    = link_to '', 'ng-click' => 'deleteComment(comment.id, $index)', title: 'Видалити' do
      = fa_icon 'remove'
.row.comment-body
  {{comment.body}}
