.row.comment(style='margin-left: {{comment.ancestors_count * 20}}px')
  .row.comment-header
    .author-avatar
      %img.comment-avatar(src="{{comment.user.avatar_url}}")
    .author-name
      {{comment.user.name}}
    .date
      {{comment.created}}
    .action-links(ng-show='userSignedIn()')
      = link_to 'javascript:void(0)', 'ng-click' => '', title: 'Відповісти' do
        = fa_icon 'comment'
      = link_to 'javascript:void(0)', 'ng-click' => 'deleteComment(comment.id, $index)', title: 'Видалити' do
        = fa_icon 'remove'
  .row.comment-body
    {{comment.body}}
