.row
  .three.columns.author-avatar
    %img.comment-avatar(src="{{comment.user.avatar_url}}")
  .three.columns.author-name
    {{comment.user.name}}
  .three.columns.date
    {{comment.created}}
  .three.columns.action-links
    = link_to 'Відповісти', '#'
    = link_to 'видалити', '#'
.row.comment-body
  {{comment.body}}
