.modal-header
  %h3{'ng-show' => '!comment'} Коментувати
  %h3{'ng-show' => 'comment'} Відповісти
.modal-body
  %form{'ng-submit' => 'add()'}
    .row
      .col-md-2.col-xs-12.title Коментар:
      .col-md-10.col-xs-12
        %textarea.form-control{'ng-model' => 'newComment.body'}

    .row
      .col-md-2
      .col-md-10
        %button.btn.btn-primary{:type => 'submit'}
          %span.glyphicon.glyphicon-plus
          Додати
        %div.btn.btn-default{'ng-click' => 'close()'}
          %span.glyphicon.glyphicon-cancel
          Відміна
