.events, .comments {
  list-style: none;
  padding: 0;
}

.subscribers ul {
  padding: 0;
  list-style: none;
  img {
    width: 20px;
  }
}

.jumbotron {
  .event {
    .small {
      font-size: 11px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
  }
  .creator {
    .name {
      font-weight: bold;
    }
  }
  .headline {
    font-weight: bold;
  }
}

.new-event-link {
  h3 {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.modal-body {
  form > div {
    margin-top: 10px;
  }
  input, textarea {
    width: 100%;
  }
  span.input-group-addon {
    cursor: pointer;
  }
}

.hidden { display: none; }

.rating {
  display: inline-block;
  font-weight: bold;
  &.green {
    color: green;
  }
  &.red {
    color: red;
  }
}

.blue {
  color: #428bca;
}

.bootstrap-timepicker-widget {
  width: 200px;
}

.italic {
  font-style: italic;
}
