.events {
  list-style: none;
  padding: 0;
}

.jumbotron {
  margin: 40px 20px;
  .event {
    float: left;
    width: 80%;
    .small {
      font-size: 11px;
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .subscribers, ul {
      list-style: none;
      li { float: right; }
      img {
        width: 20px;
      }
    }
  }
  .creator {
    float: left;
    width: 85px;
    .name {
      font-weight: bold;
    }
  }
  border-radius: 7px;
  padding: 15px;
  position: relative;
  .actions {
    .like-buttons, .subscribers {
      margin-bottom: 10px;
    }
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 7px;
  }
  .headline {
    font-weight: bold;
  }
}

.new-event-link {
  text-align: right;
  cursor: pointer;
  padding-right: 35px;
  &:hover {
    text-decoration: underline;
  }
}

.modal-body {
  form > div {
    margin-top: 10px;
  }
  .title {
    width: 15%;
    float: left;
  }
  .input-group {
    width: 85%;
  }
  input, textarea {
    width: 100%;
  }
  span.input-group-addon {
    cursor: pointer;
  }
}

.hidden { display: none; }

.rating {
  display: inline-block;
  float: left;
  margin-right: 10px;
  font-weight: bold;
  &.green {
    color: green;
  }
  &.red {
    color: red;
  }
}

.blue {
  color: #428bca;
}

.bootstrap-timepicker-widget {
  width: 200px;
}

.italic {
  font-style: italic;
}
