.events {
  list-style: none;
  padding: 0;
  margin: 5px 40px;
  li.jumbotron {
    border-radius: 7px;
    padding: 15px;
    position: relative;
    .glyphicon-trash {
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 16px;
    }
    .headline {
      font-weight: bold;
    }
  }
}

.new-event-link {
  text-align: right;
  cursor: pointer;
  padding-right: 35px;
  &:hover {
    text-decoration: underline;
  }
}

.modal-body {
  form > div {
    margin-top: 10px;
  }
  .title {
    width: 100px;
    float: left;
  }
  .btn { width: 400px; }
  input, textarea {
    width: 400px;
  }
}

.hidden { display: none; }
