.alert {
  margin: 0 20px;
}

.clear {
  clear: both;
}

a, a:focus {
  outline: none;
}

.display-none {
  display: none;
}

.center {
  text-align: center;
}

#map-canvas {
  height: 400px;
}

span.link {
  cursor: pointer;
  color: #337ab7;
  &:hover {
    text-decoration: underline;
  }
}

span.option {
  &.active {
    font-weight: bold;
    color: black;
    cursor: default;
    &:hover {
      text-decoration: none;
    }
  }
}

.small {
  font-size: 10px;
}
