.header {
  position: relative;
  .logo {
    padding: 20px;
  }
  .nav-bar {
    position: absolute;
    right: 20px;
    top: 40px;
    .item {
      float: left;
      margin-left: 10px;
    }
  }
}

body {
  padding: 10px 20px;
}

.alert {
  margin: 0 20px;
}

.clear {
  clear: both;
}

a, a:focus {
  outline: none;
}
